#box {
    height: 400px;
    width: 100%;
    background: #ddd;
    margin-top: 10px;
    overflow: hidden;
}

#target {
    height: 50px;
    width: 50px;
    background: #C17878;
    position: absolute;
}​