.introduction	{
	font-size: 1.5em;
	line-height: 20px;
}

.right.column h3 {}

.community	{
	background: url(../graphics/icons.png) no-repeat;
}
.development {
	background: url(../graphics/icons.png) no-repeat 0 -24px;
}
.latesttweets {
	background: url(../graphics/icons.png) no-repeat 0 -48px;
}
.latesttweets a	{
	color: #666;
	font-size: 0.75em;
}
.mootoolsbooks {
	background: url(../graphics/icons.png) no-repeat 0 -72px;
}
.booklist	{
}
.booklist li {
	float: left;
}
.booklist li.first	{
	margin: 0 10px 0 0;
}