.introduction	{
	font-size: 1.5em;
	line-height: 20px;
}

.right.column H3	{
	
}

.community	{
	background: url(graphics/icons.png) no-repeat;
}
.development	{
	background: url(graphics/icons.png) no-repeat 0 -24px;
}
.latesttweets	{
	background: url(graphics/icons.png) no-repeat 0 -48px;
}
	.latesttweets A	{
		color: #666;
		font-size: 0.75em;
	}
.mootoolsbooks	{
	background: url(graphics/icons.png) no-repeat 0 -72px;
}
.booklist	{
}
	.booklist LI	{
		float: left;
	}
	.booklist LI.first	{
		margin: 0 10px 0 0;
	}