HTML	{
	font-size: 100%;
}
HTML, BODY	{
	height: 100%;
	margin: 0;
	padding: 0;
}
BODY	{
	color: #333;
	font: 62.5% Helvetica, Arial, sans-serif;
}

H1, H2, H3, H4, H5, H6, P, IMG, FORM, FIELDSET, UL, OL, LI, DL, DT, DD	{
	border: none;
	list-style:  none;
	margin: 0;
	padding: 0;
}

H1	{
}
H2	{
}
H3	{
	color: #385F9E;
	font-size: 1.6em;
	font-weight: normal;
	height: 24px;
	line-height: 24px;
	margin: 0 0 10px;
}
P	{
	font-size: 1.3em;
}
EM	{
	color: #385F9E;
	font-style: normal;
}
	
A	{
	color: #385F9E;
	text-decoration: none;
}
	A:HOVER	{
		text-decoration: underline;
	}
	
UL	{
	padding: 0 0 30px;
}
	UL LI	{
		font-size: 1.3em;
		line-height: 18px;
		padding: 3px 0;
	}

/* LAYOUTS */
.content	{
	margin: 0 auto;	
	width: 960px;
}

.header	{
	height: 100px;
}

.column	{
	float: left;
}
.left.column	{
	width: 640px;
}
.right.column	{
	width: 300px;
}

.footer	{
	clear: both;
	background: red;
}


