.inline-demo {
    background: #EEE;
	border: 10px solid red;
    padding: 5px;
    width: 940px;
}
	.inline-demo BUTTON {
	}
	.inline-demo .demo.results {
		min-height: 100px;
	}
	.inline-demo H2 {
	    background: #CCC;
	    color: #666;
	    cursor: pointer;
	    float: left;
	    font-size: 1.2em;
	    font-weight: normal;
	    height: 25px;
	    line-height: 25px;
	    margin: 0 5px 0 0;
	    padding: 0 5px;
	}
	.inline-demo H2.selected {
	    background: #FFF;
	    color: #222;
	    font-size: 1.3em;
	    line-height: 25px;
	}
	.inline-demo .content {
	    background: #FFF;
	    float: right;
	    left: -9999px;
	    position: absolute;
	    margin: 25px 0 0 -940px;
	    width: 940px;
	}
	.inline-demo .content UL {
	    border-top: 1px solid #CCC;
	    margin: 10px;
	}
	.inline-demo .content LI {
	    border-bottom: 1px solid #CCC;
	    font-size: 1.2em;
	    line-height: 18px;
	    padding: 2px 0;
	}
	.inline-demo .content.selected {
	    left: auto;
	    position: relative;
	}
.inline-demo:AFTER {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}