.developers {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.developers li {
	margin:0 0 20px 0;
	clear: both;
}

.developers li code {
	color: #777;
	font-size: .8em;
}

.icon {
	float: left;
	margin:0 20px 20px 0;
}