.menu {
	float: left;
	margin: 20px 0 0;
	width: 200px;
}
.menu li {
	font-size: 14px;
}
	.menu ul li {
		padding: 0 0 0 20px;
	}
	.menu li a {
		cursor: pointer;
		display: block;
	}
	.menu li a:hover {
		background: #ddd;
	}
.main {
	float: right;
	margin: 20px 0 0;
	width: 745px;
}	
	.main ol, .main ul {
		font-size: 1.3em;
		padding: 0 0 10px 20px;
	}
	.main ol li {
		list-style: decimal;
		margin: 0 0 5px;
	}
	.main ul li {
		list-style: disc;
		margin: 0 0 5px;
	}
	.main hr {
		display: none;
	}

.main li pre, .main p pre {
	display: inline;
	padding: 0;
}

.api {
	width: 600px;
}
.sidemenu {
	float: right;
	padding: 20px 0 0 10px;
	width: 130px;
}