.menu {
	float: left;
	width: 150px;
}
.menu UL {
	padding: 0 0 0 20px;
}
.main {
	float: left;
	width: 800px;
}	
	.main OL, .main UL {
		font-size: 1.3em;
		padding: 0 0 10px 20px;
	}
	.main OL LI {
		list-style: decimal;
	}
	.main UL LI {
		list-style: disc;
	}