.menu {
	float: left;
	width: 150px;
}
.menu ul {
	padding: 0 0 0 20px;
}
.main {
	float: left;
	width: 800px;
}	
	.main ol, .main ul {
		font-size: 1.3em;
		padding: 0 0 10px 20px;
	}
	.main ol li {
		list-style: decimal;
	}
	.main ul li {
		list-style: disc;
	}
	.main hr {
		display: none;
	}

.main li pre, .main p pre {
	display: inline;
	padding: 0;
}