.download-table  {
	margin-bottom:20px;
}

.download-table td, th {
	padding-left: 1em;
	padding-right: 1em;
}

.download-table td {
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #f4f5f5;
}

.download-table th {
	text-shadow: 0 1px rgba(255, 255, 255, 0.8);
	border-bottom: 1px solid #d4d4d4;
	padding-top: 0.6em;
	color: #686c70;
	background: #eee url(/assets/images/gradient-bottom.png) bottom left repeat-x;
}

.download-table .last {
	border-right: 0;
}

.download-table tr.last td {
	border-bottom: none;
}

.download-table th.name {
	width: 25%;
}

.download-table th.last, td.last {
	padding-right: 1em;
	text-align: right;
}

.download-table td.sha1 {
	font-size: 10px;
	color: #888;
}