/* Geshi */
.kw1 {
	color: #006ad7;
}
.kw2 {
	color: #006ad7;
}
.me1 {
	color: #148485;
}
.kw3, .re0, .sc1 {
	color: #784e0c;
}
.br0 {
	color: #444;
}
.st0 {
	background-color: #fdf8ee;
	color: #aa6c00;
}
.co1, .coMULTI {
	color: #999;
}
.nu0 {
	color: #70483d;
}