/* Geshi */
.kw1 {
	color: #1b609a;
}
.kw2 {
	color: #9a6f1b;
}
.me1 {
	color: #666;
}
.kw3, .re0, .sc1 {
	color: #784e0c;
}
.br0 {
	color: #444;
}
.st0 {
	color: #489a1b;
}
.co1, .coMULTI {
	color: #888;
}
.nu0 {
	color: #70483d;
}