.menu {
	padding: 20px 0 0;
}
.menu > li {
	float: left;
	width: 298px;
}
.menu > li:nth-child(2n){
	margin: 0 33px;
}
	.menu > li > a {
		color: #10426F;
		display: block;
		font: 3.2em CartoGothic;
		height: 126px;
		padding: 30px;
		width: 238px;
	}
	.menu .demo {
		background: url(graphics/promote.bg.1.png) no-repeat;		
	}
	.menu .guides {
		background: url(graphics/promote.bg.2.png) no-repeat;		
	}
	.menu .api {
		background: url(graphics/promote.bg.3.png) no-repeat;		
	}
	.menu > li > a span {
		display: block;
		font-size: 0.5em;
	}
	.menu > li > h3 {
		font-size: 1.5em;
		font-weight: bold;
		padding: 20px 0 0 5px;
	}
	.menu li li {
		font-size: 1.3em;
		line-height: 18px;
		padding: 0 0 0 20px;
	}