html, body	{
	height: 100%;
	margin: 0;
	padding: 0;
}
html {
	font-size: 100%;
}
body {
	background: url(graphics/bg.png) repeat-x 50% 0;
	border-top: 4px solid #3f639b;
	font: 62.5% "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;
}

@font-face {
	font-family: CartoGothic;
	src: url('fonts/CartoGothicStd-Book.otf');
}

.content, footer {
	margin: 0 auto;
	width: 960px;
}

header, footer {
	display: block;
}

h1, h2, h3, h4, h5, h6, p, img, a, ul, ol, li, form, fieldset, button {
	border: none;
	list-style: none;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	color: #10426f;
	font-family: CartoGothic;
}
h1 {
	font-size: 3.2em;
	padding: 0 0 10px;
}
h2 {
	font-size: 2.8em;
	padding: 0 0 10px;
}
h3 {
	font-size: 2.2em;
	padding: 0 0 10px;
}
h4 {
	font-sixe: 1.8em;
	padding: 0 0 10px;
}

p {
	font-size: 1.3em;
	line-height: 20px;
	padding: 0 0 10px;
}

a {
	color: #bd2121;
	text-decoration: none;
}
	a:focus, a:hover {
		text-decoration: underline;
	}
	
pre {
	background: #fff;
	font-size: 1.2em;
	overflow: auto;
	padding: 4px;
}

blockquote {
	background: #ddd;
	margin: 0 20px 20px;
	padding: 10px;
}

header {
	height: 80px;
	margin: 0 auto;
	padding: 15px 0 0;
	width: 960px;
}
	header .logo {
		border-top: 1px solid #d9d9d9;
		float: left;
		padding: 14px 0;
		width: 131px;
	}
		header .logo a {
			background: url(graphics/logo.png);
			display: block;
			height: 24px;
			text-indent: -9999px;
		}
	header .subtitle {
		left: -9999px;
		position: absolute;
	}
	header nav {
		float: right;
	}
		header nav li {
			background: url(graphics/nav-icons.png) no-repeat;
			border-top: 1px solid #d9d9d9;
			display: inline-block;
			margin: 0 0 0 20px;
			text-transform: uppercase;
			width: 130px;
		}
			header nav li a {
				color: #000;
				display: block;
				padding: 28px 0 0;
			}
		header nav li.downloads {
			background-position: 0 -38px;
		}
		header nav li.docs {
			background-position: 0 -78px;
		}
		header nav li.blog {
			background-position: 0 -118px;
		}
		header nav li.community {
			background-position: 0 -118px;
		}
		header nav li.forge {
			background-position: 0 -158px;
		}
		header nav li.selected {
			border-top-color: #3f639B;
		}
		
footer {
	clear: both;
	border-top: 1px solid #d9d9d9;
	font-size: .85em;
	text-align: center;
	padding: 4px 0 10px 0;
}

footer a {
	color: #10426f;
}

footer a.footerDevs {
	display: inline;
	float: right;
}

footer span.footerCopy {
	background: url(/favicon.png) 0 2px no-repeat;
	padding: 0 0 0 20px;
	display: inline-block;
}


/* button */
.button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	padding: .3em 1.2em .35em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	margin-top:12px;
	border: solid 1px #da7c0c;
	color: #fff;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#f35353), to(#bd2121));
	background: -moz-linear-gradient(top,  #f35353,  #bd2121);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f35353', endColorstr='#bd2121');
}

.button:hover { 
	text-decoration: none; 
	color:#fccaca;
}

.button:active { 
	position: relative; 
	top: 1px; 
	color:#fccaca;
}




/* dw */
.todo { background:#fffea1; border:1px dotted #fc0; padding:5px; border-radius:6px; }