HTML, BODY	{
	height: 100%;
	margin: 0;
	padding: 0;
}
HTML {
	font-size: 100%;
}
BODY {
	background: url(graphics/bg.png) repeat-x 50% 0;
	border-top: 4px solid #3F639B;
	font: 62.5% "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;
}

@font-face {
	font-family: CartoGothic;
	src: url('fonts/CartoGothicStd-Book.otf');
}

.content {
	margin: 0 auto;
	width: 960px;
}

HEADER, FOOTER {
	display: block;
}

H1, H2, H3, H4, H5, H6, P, IMG, A, UL, OL, LI, FORM, FIELDSET, BUTTON {
	border: none;
	list-style: none;
	margin: 0;
	padding: 0;
}

H1, H2, H3, H4, H5, H6 {
	color: #10426F;
	font-family: CartoGothic;
}
H2 {
	font-size: 2.8em;
}

P {
	font-size: 1.3em;
	line-height: 20px;
	padding: 0 0 10px;
}

A {
	color: #BD2121;
	text-decoration: none;
}
	A:FOCUS, A:HOVER {
		text-decoration: underline;
	}
	
PRE {
	background: #FFF;
	font-size: 1.2em;
	padding: 4px;
}

HEADER {
	height: 80px;
	margin: 0 auto;
	padding: 15px 0 0;
	width: 960px;
}
	HEADER .logo {
		border-top: 1px solid #D9D9D9;
		float: left;
		padding: 14px 0;
		width: 131px;
	}
		HEADER .logo A {
			background: url(graphics/logo.png);
			display: block;
			height: 24px;
			text-indent: -9999px;
		}
	HEADER .subtitle {
		left: -9999px;
		position: absolute;
	}
	HEADER NAV {
		float: right;
	}
		HEADER NAV LI {
			background: url(graphics/nav-icons.png) no-repeat;
			border-top: 1px solid #D9D9D9;
			display: inline-block;
			margin: 0 0 0 20px;
			text-transform: uppercase;
			width: 130px;
		}
			HEADER NAV LI A {
				color: #000;
				display: block;
				padding: 28px 0 0;
			}
		HEADER NAV LI.downloads {
			background-position: 0 -38px;
		}
		HEADER NAV LI.docs {
			background-position: 0 -78px;
		}
		HEADER NAV LI.blog {
			background-position: 0 -118px;
		}
		HEADER NAV LI.people {
			background-position: 0 -118px;
		}
		HEADER NAV LI.forge {
			background-position: 0 -158px;
		}
		HEADER NAV LI.selected {
			border-top-color: #3F639B;
		}
		
FOOTER {
	clear: both;
}