HTML, BODY	{
	height: 100%;
	margin: 0;
	padding: 0;
}
HTML {
	font-size: 100%;
}
BODY {
	background: #F7F9FA;
	color: #222;
	font: 62.5% Helvetica, Arial, sans-serif;
}

.content {
	margin: 0 auto;
	width: 960px;
}

HEADER, FOOTER, ASIDE {
	display: block;
}

H1, H2, H3, H4, H5, H6, P, IMG, A, UL, OL, LI, FORM, FIELDSET, BUTTON {
	border: none;
	list-style: none;
	margin: 0;
	padding: 0;
}

A {
	color: #366993;
	text-decoration: none;
}
	A:FOCUS, A:HOVER {
		text-decoration: underline;
	}

.content {
	margin: 0 auto;
	width: 960px;
}

/* HEADER */
HEADER {
	background: #FFF;
	border-top: 10px solid #1B3549;
	height: 110px;
	-moz-box-shadow: 0px 0px 30px #777;
	-webkit-box-shadow: 0px 0px 30px #777;
	box-shadow: 0px 0px 30px #777;
}
	HEADER .content {
		position: relative;
	}
	HEADER P {
		background: url(graphics/logo.png) no-repeat;
		height: 31px;
		position: absolute;
		text-indent: -9999px;
		top: 30px;
		width: 164px;
	}
	HEADER .subtitle {
		background: url(graphics/subtitle.png) no-repeat;		
		height: 11px;
		top: 70px;
	}
	HEADER NAV {
		height: 25px;
		line-height: 25px;
		position: absolute;
		right: 0;
		top: 25px;
	}
		HEADER NAV LI {
			float: left;
			font-family: "CartoGothic Std";
			font-size: 1.3em;
		}
			HEADER NAV LI A {
				background: url(graphics/nav-icons.png) no-repeat;
				border-right: 2px solid red;
				display: inline-block;
				padding: 0 12px 0 28px;
			}
			HEADER NAV .home A {
				background-position: 10px 7px;
			}
			HEADER NAV .downloads A {
				background-position: 10px -18px;
			}
			HEADER NAV .docs A {
				background-position: 10px -44px;
			}
			HEADER NAV .blog A {
				background-position: 10px -69px;
			}
			HEADER NAV .forge A {
				background-position: 10px -94px;
			}
			HEADER NAV .people A {
				background-position: 10px -118px;
			}
		HEADER NAV LI:LAST-CHILD {
		}
			HEADER NAV LI:LAST-CHILD A {
				border-right: none;
			}
		
/* FOOTER */
FOOTER {
	border-top: 3px solid #E3E4E4;
	clear: both;
	height: 100px;
}