body {
  position: relative;
  padding-top: 115px;
  background: #FFF url(graphics/background-logo.png) no-repeat 0 100%;
}

footer {
	background: #00293F url(graphics/footer-logo.png) no-repeat 98% 50%;
	color: #FFF;
	height: 140px;
	margin: 100px 0 0;
}

/* Homepage */
.btn-download {
	width: 100%;
}

/* Demos */
.demo .demo-content {
	display: none;
}
.demo .demo-content.active {
	display: block;
}
.demo iframe {
	border: 0;
	border-bottom: 1px solid #DDD;
	width: 100%;
}