
#container {
	border: 1px solid #999;
	width: 145px;
	overflow: hidden;
}

.item {
	height: 40px;
	width: 40px;
	margin: 4px;
	float: left;
	background-color: #78BA91;
	cursor: pointer;
}

.active {
	background-color: #6B7B95;
}
